<%= form_for(@user) do |f| %>
  <div class="field">
    <% if @user.image? %>
      <div class="thumbnail">
        <%= image_tag @user.image.url %>
      </div>
    <% end %><br>
    <%= f.label :image, '画像変更' %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @user.persisted? && @user.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>
  <div class="mt-3">
    <%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %>
  </div>
<% end %>
