<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @chat, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'chats/chats', chats: @chats %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Date</h1>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <div class="text-center">
    <div>このアプリは自分の思い人が自分のことを気になっているかどうかを知れ、両思いであった場合デートの日程を決めるというアプリです。</div>
    ルールは以下の通りです<br>
    </div>
  </div>
  <h3>　[使い方]</h3>
  <p>
  　1.名前は実名フルネームで記入してください（あなたのことを気になっている人があなたがこのアプリを使っているのか知るためです） <br>
  　2.気になる１人をlikeとして登録してください（複数人登録すると後悔することになるかもしれません）<br>
  　3.両思いとなると通知がいきます（自分しかその通知は表示されません)<br>
  　4.chatの内容は自分と両思いとなった相手しか見ることはできません<br>
    </p>
<% end %>